[Unit]
Description=Hamlib rigctld (TRX %i)
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c '\
  CONFIG=$(jq -r ".[] | select(.id == %i)" /etc/hamlib_rest_api/rigctld.json); \
  if [ -z "$CONFIG" ]; then \
    echo "Error: Did not find a configuration for TRX ID %i in rigctld.json!"; \
    exit 1; \
  fi; \
  MODEL=$(echo "$CONFIG" | jq -r ".model"); \
  SPEED=$(echo "$CONFIG" | jq -r ".baudrate"); \
  DEV_PATH=$(echo "$CONFIG" | jq -r ".device"); \
  PORT=$(echo "$CONFIG" | jq -r ".port"); \
  exec /usr/bin/rigctld -m "$MODEL" -r "$DEV_PATH" -s "$SPEED" -t "$PORT"\
'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
